@import "./config";
@import "~bootstrap";

.modalLyricsMobile .modal-dialog {
  width: 100%; // Make the dialog width 100% of the viewport
  max-width: 100%; // Prevent the dialog from exceeding viewport width
  margin-left: 4rem; // Remove default margins
  height: 100%; // Make the dialog height 100% of the viewport
  max-height: 100%; // Prevent the dialog from exceeding viewport height
}

.modalLyricsMobile .modal-content {
  width: 90vw; // Full viewport width
  height: auto; // Full viewport height
  border: none; // Optional: Remove borders for a cleaner look
  border-radius: 0; // Remove border radius to keep it flush with edges
  display: flex; // Use flexbox for responsive layout
  flex-direction: column; // Stack items vertically
}

.modalLyricsMobile .modal-body {
  flex: 1; // Allow body to take up available space
  overflow: auto; // Add scrollbars if content overflows
  //   padding: 100%; // Remove padding for edge-to-edge content
}

.modalListMobile .modal-header {
  display: flex;
  justify-content: center;
  align-items: center; /* Centers content vertically */
}

.modalListMobile .modal-dialog {
  width: 100%; // Make the dialog width 100% of the viewport
  max-width: 100%; // Prevent the dialog from exceeding viewport width
  margin-left: 10%; // Remove default margins
  height: auto; // Make the dialog height 100% of the viewport
  // max-height: 100%; // Prevent the dialog from exceeding viewport height
}

.modalListMobile .modal-content {
  width: 80vw; // Full viewport width
  height: auto; // Full viewport height
  border: 5px; // Optional: Remove borders for a cleaner look
  border-radius: 0; // Remove border radius to keep it flush with edges
  //   display: flex; // Use flexbox for responsive layout
  //   flex-direction: column; // Stack items vertically
}

.modalListMobile .modal-body {
  flex: 1; // Allow body to take up available space
  overflow: auto; // Add scrollbars if content overflows
  padding: 5; // Remove padding for edge-to-edge content
}

.modalBioMobile .modal-dialog {
  width: 100%;
  max-width: 90%;
  margin-left: 3rem;
  height: 100%;
  max-height: 100%;
}

.modalBioMobile .modal-content {
  width: 80vw;
  height: auto;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

.modalBioMobile .modal-body {
  flex: 1;
  overflow: auto;
}
