@import "./config";
@import "~bootstrap";

.modalLyricsMobile .modal-dialog {
  width: 100%;
  max-width: 100%;
  margin-left: 1.5rem;
  height: 100%;
  max-height: 100%;
}

.modalLyricsMobile .modal-content {
  width: 90vw;
  height: auto;
  border: none;
  border-radius: 0;
}

.modalLyricsMobile .modal-body {
  flex: 1;
  overflow: auto;
}

.modalListMobile .modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalListMobile .modal-dialog {
  width: 100%;
  max-width: 100%;
  margin-left: 10%;
  height: auto;
  align-items: center;
}

.modalListMobile .modal-content {
  background-color: black;
  color: white;
  width: 80vw;
  height: auto;
  border: 5px;
  border-radius: 0;
}

.modalListMobile .modal-body {
  flex: 1;
  overflow: auto;
  padding: 5;
}

.modalBioMobile .modal-dialog {
  width: 100%;
  max-width: 90%;
  margin-left: 2.5rem;
  height: 100%;
}

.modalBioMobile .modal-content {
  background-color: black;
  width: 80vw;
  height: auto;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  color: white;
}

.modalBioMobile .modal-body {
  flex: 1;
  overflow: auto;
}
